/* Larger than mobile */
@media (min-width: 320px) {
    /* PROJECT */
    main#tile-project {
        position: absolute;
        top: 0;
    }
    main#tile-project > *:not(img) {
        margin-right: 6%;
        margin-left: 6%;
    }
    main#tile-project h1 {
        text-transform: capitalize;
        font-size: 30px;
        color: #1163a4;
        margin-bottom: -10px;
    }
    main#tile-project h2 {
        font-size: 21px;
        margin-bottom: 24px;
    }
    div.p-project {
        font-family: Orkney, sans-serif;
        font-size: 15px;
        line-height: 1.27;
        color: #8ea3b3;
        margin-bottom: 40px;
    }
    .first-div {
        padding-top: 16px;
    }
    .two-images {
        background: #003c4e;
        margin: 0!important;
    }
    .img-logo {
        padding-top: 8px;
    }
    div#burq-div1 {
        margin: 0!important;
        background-color: #e9ecf1;
    }
    img#burq-img1 {
        background: #e9ecf1;
    }
    .blue-element, .white-element, .first-element {
        margin: 0 !important;
    }
    .first-element .right-column,
    .white-element .left-column,
    .white-element .right-column,
    .blue-element .left-column {
        margin-left: 6%;
        margin-right: 6%;
    }
    .first-element .right-column {
        background: #fff;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 770px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    main {
        text-align: center;
    }
    .first-element {
        overflow: hidden;
    }
    .left-column {
        float: left;
        width: 23%;
        padding-right: 0;
        padding-left: 0;
    }
    .right-column {
        float: right;
        width: 23%;
    }
    #tile-project .right-column h1 {
        padding-top: 112px;
        padding-bottom: 50px;
        font-size: 70px;
        margin-top: 0;
        line-height: 0.85;
    }
    .first-element .p-project {
        display: inline-block;
        margin-top: 56px;
        font-size: 16px;
        line-height: 1.56;
        text-align: initial;
    }
    .first-element .right-column {
        float: right;
        width: 38%;
    }
    .white-element .p-project, .blue-element .p-project {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.38;
    }
    #tile-project .left-column h2 {
        padding-top: 88px;
        padding-left: 0;
        font-size: 22px;
        line-height: 1.77;
    }
    div.p-project {
        margin-bottom: 0;
    }
    main img {
        width: 42%;
    }
    main img.img-left {
        margin: 0 32px 32px 0;
        display: inline-block;
    }
    main img.img-right {
        margin: 0 0 32px 0;
        display: inline-block;
    }
    img#burq-img1 {
        float: left;
        margin: 0;
        width: 50%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #tile-project .left-column h2#grid-title {
        padding-top: 48px;
    }
    .first-div {
        padding-top: 112px;
    }
    .last-div {
        padding-bottom: 64px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}