/* Larger than mobile */
@media (min-width: 320px) {
    /* PROJECT */
    main#tile-project {
        position: absolute;
        top: 0;
    }
    main#tile-project > *:not(img) {
        margin-right: 6%;
        margin-left: 6%;
    }
    main#tile-project h1 {
        text-transform: capitalize;
        font-size: 30px;
        color: #1163a4;
        margin-bottom: -10px;
    }
    main#tile-project h2 {
        font-size: 21px;
        margin-bottom: 8px;
    }
    div.p-project {
        font-family: Orkney, sans-serif;
        font-size: 15px;
        line-height: 1.27;
        color: #8ea3b3;
        margin-bottom: 32px;
    }
    .black-element, .black-element h2, .black-element div {
        background: #262626;
        color: #e9eef1;
    }
    .black-element {
        margin: 0!important;
    }
    .black-element h2 {
        padding-top: 40px;
        padding-left: 6%;
        padding-right: 6%;
    }
    .black-element .p-project {
        padding-left: 6%;
        padding-right: 6%;
    }
    div#emotion-div1 {
        margin: 0!important;
        background-color: #262626;
    }
    img#emotion-img1 {
        background: #262626;
    }
    img#emotion-img8 {
        margin-top: 32px;
        margin-bottom: 0;
    }
    img#emotion-img4, img#emotion-img5, img#emotion-img9, img#emotion-img10 {
        margin-bottom: 0;
    }
    img#emotion-img-full {
        display: none;
    }
    .white-element, .first-element {
        margin: 0 !important;
    }
    .first-element .right-column,
    .white-element .left-column,
    .white-element .right-column {
        margin-left: 6%;
        margin-right: 6%;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 770px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    .black-element {
        float: left;
    }
    .white-element {
        float: left;
        margin-right: 0 !important;
    }
    .left-column {
        float: left;
        width: 23%;
        padding-right: 0;
        padding-left: 0;
    }
    .black-element div {
        padding-left: 6%;
        padding-right: 6%;
    }
    .right-column {
        float: right;
        width: 23%;
    }
    .left-column div.p-project {
        padding-left: 0;
        margin-top: 24px;
    }
    #tile-project .right-column h1 {
        padding-top: 30%;
        padding-bottom: 60px;
        font-size: 70px;
        line-height: 0.56;
    }
    .first-element .p-project {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.56;
    }
    .white-element .p-project, .black-element .p-project {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.38;
    }
    #tile-project .left-column h2 {
        padding-top: 80px;
        padding-left: 0;
        font-size: 22px;
        line-height: 1.77;
    }
    div.p-project {
        margin-bottom: 0;
    }
    img#emotion-img7, img#emotion-img8, img#emotion-img4, img#emotion-img3, img#emotion-img2 {
        float: right;
        margin: 0;
        width: 65%;
    }
    img#emotion-img1 {
        float: left;
        margin: 0;
        width: 65%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    img#emotion-img9, img#emotion-img5 {
        float: left;
        width: 50%;
    }
    img#emotion-img10, img#emotion-img6 {
        float: right;
        width: 50%;
    }
    img#emotion-img-full {
        display: block;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}