/* Larger than mobile */
@media (min-width: 320px) {
    /* PROJECT */
    main#tile-project {
        position: absolute;
        top: 0;
    }
    main#tile-project > *:not(img) {
        margin-right: 6%;
        margin-left: 6%;
    }
    main#tile-project h1 {
        text-transform: capitalize;
        font-size: 30px;
        color: #0060ac;
        margin-bottom: -10px;
    }
    main#tile-project h2 {
        font-size: 21px;
        margin-bottom: 24px;
    }
    div.p-project {
        font-family: Orkney, sans-serif;
        font-size: 15px;
        line-height: 1.27;
        color: #8ea3b3;
        margin-bottom: 32px;
    }
    img.img-project {
        margin-bottom: 40px;
    }
    .blue-element, .blue-element h2, .blue-element div {
        background: #0060ac;
        color: #fff
    }
    .blue-element {
        margin: 0!important;
    }
    .blue-element h2 {
        padding-top: 40px;
    }

    div#francebleu-div1 {
        margin: 0!important;
        background-color: #0178DE;
    }
    img#francebleu-img1 {
        background: #0178DE;
    }
    img#francebleu-img4 {
        padding-bottom: 18px;
    }
    img#francebleu-img7, img#francebleu-img8 {
        margin-bottom: 0;
    }
    img#francebleu-img-full {
        display: none;
    }
    .blue-element, .white-element, .first-element {
        margin: 0 !important;
    }
    .first-element .right-column,
    .white-element .left-column,
    .white-element .right-column,
    .blue-element .left-column {
        margin-left: 6%;
        margin-right: 6%;
    }
    img#francebleu-img4, img#francebleu-img5, img#francebleu-img11, img#francebleu-img12 {
        margin-bottom: 0;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 770px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    .white-element, .blue-element {
        float: left;
        margin-right: 0 !important;
    }
    .left-column {
        float: left;
        width: 23%;
        padding-right: 0;
        padding-left: 0;
    }
    .right-column {
        float: right;
        width: 23%;
    }
    .left-column div.p-project {
        padding-left: 0;
        margin-top: 24px;
    }
    #tile-project .right-column h1 {
        padding-top: 112px;
        padding-bottom: 50px;
        font-size: 70px;
        margin-top: 0;
        line-height: 0.56;
    }
    .first-element .p-project {
        margin-top: 56px;
        font-size: 16px;
        line-height: 1.56;
    }
    .first-element .right-column {
        float: right;
        width: 38%;
    }
    .white-element .p-project, .blue-element .p-project {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.38;
    }
    #tile-project .left-column h2 {
        padding-top: 88px;
        padding-left: 0;
        font-size: 22px;
        line-height: 1.77;
    }
    div.p-project {
        margin-bottom: 0;
    }
    img#francebleu-img2, img#francebleu-img3, img#francebleu-img4 {
        float: right;
        margin: 0;
        width: 65%;
    }
    img#francebleu-img1 {
        float: left;
        margin: 0;
        width: 50%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    img#francebleu-img5, img#francebleu-img8, img#francebleu-img11 {
        float: left;
        width: 50%;
    }
    img#francebleu-img6, img#francebleu-img9, img#francebleu-img12, img#francebleu-img7, img#francebleu-img10 {
        float: right;
        width: 50%;
    }
    img#francebleu-img6 {
        margin-bottom: 0;
    }
    img#francebleu-img-full {
        display: block;
        margin-bottom: 0;
    }
    #tile-project .left-column h2#grid-title {
        padding-top: 48px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
