/* Larger than mobile */
@media (min-width: 320px) {
    /* TOP */
    #tile-blurb {
        background: -webkit-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_1x.jpg') no-repeat right;
        background: -o-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_1x.jpg') no-repeat right;
        background: -ms-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_1x.jpg') no-repeat right;
        background: linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_1x.jpg') no-repeat right;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        color: #fff;
        height: 439px;
    }
    h1 {
        font-family: Butler-bold, sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    #introduction {
        opacity: 0.9;
        font-family: Orkney;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    #top-header {
        margin-left: 6.25%;
        margin-right: 6.25%;
        padding-bottom: 50px;
    }

    /* TILES */
    .tile-project {
        background: #fff;
    }
    .tile-project > *:not(img) {
        margin-right: 5%;
        margin-left: 5%;
        color: #1163a4;
    }
    img.img-project {
        margin: auto;
        margin-right: 0;
        height: auto;
        width: 100%;
        margin-bottom: 25px;
        padding-top: 25px;
        display: block;
    }
    div.img-block {
        margin: 0
    }
    div.img-franceinfo {
        background-color: #FFC52B;
    }
    div.img-francebleu {
        background-color: #0075D5;
    }
    div.img-emotion {
        background-color: #262626;
    }
    div.img-patisserie {
        background-color: #92092b;
    }
    div.img-burq {
        background-color: #e9eef1;
    }
    a.link-project {
        display:block;
        margin: 24px auto 0;
        height: 33px;
        border-radius: 4px;
        border: solid 1px #1263a4;
        background-color: #fff;
        text-decoration: none;
        width: 33%;
        font-family: Orkney;
        font-size: 13px;
        line-height: 2.62;
        text-align: center;
        color: #1263a4;
    }
    .empty{
        height: 30px;
    }
    h2 {
        font-family: Butler-bold;
        font-size: 30px;
        text-align: left;
        color: #1163a4;
        margin: 0;
    }
    div.text-project, .variable-data {
        font-family: Orkney;
        font-size: 15px;
        line-height: 1.27;
        text-align: left;
        color: #8ea3b3;
    }
    .column {
        float: left;
        width: 33.33%;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column p {
        text-align: center;
    }
    .column-title {
        text-transform: uppercase;
        margin: 30px 0 0;
        font-family: Orkney;
        font-size: 11px;
        line-height: 1.91;
        text-align: left;
        color: #1263a4;
    }
    .variable-data {
        margin: 0;
        font-family: Orkney;
        font-size: 11px;
        line-height: 1.73;
        text-align: left;
        color: #8ea3b3;
    }
    /* TOOLS */
    .separator {
        width: 55px;
        height: 3px;
        background-color: #1263a4;
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .separator-white {
        width: 55px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 19px;
    }
    .tile-logofolio {
        display: none;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 770px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    h1 {
        font-size: 70px;
        max-width: 680px;
        font-weight: 500;
        line-height: 1.36;
    }
    #introduction {
        opacity: 0.85;
        max-width: 850px;
        font-size: 20px;
        line-height: 1.75;
    }
    #tile-blurb {
        height: 100vh;
        min-height: 660px;
        opacity: 0.81;
        background: -webkit-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_2x.jpg') no-repeat center;
        background: -o-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_2x.jpg') no-repeat center;
        background: -ms-linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_2x.jpg') no-repeat center;
        background: linear-gradient(98deg, #072d47, rgba(4, 25, 42, 0)), url('../img/homepage_img_rio_2x.jpg') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tile-project {
        height: 100vh;
        min-height: 800px;
    }
    .img-block {
        width: 40%;
        float: right;
        min-height: 800px;
    }
    h2 {
        max-width: 600px;
        font-size: 70px;
        font-weight: bold;
        line-height: 1;
    }
    div.text-project {
        max-width: 530px;
        font-size: 20px;
        line-height: 1.75;
        margin-bottom: 88px;
    }
    .row {
        display: inline-block;
        width: 50%;
    }
    .column-title {
        font-size: 15px;
        line-height: 1.4;
        text-align: left !important;
        margin-bottom: 8px;
    }
    .variable-data {
        font-size: 15px;
        line-height: 1.27;
        text-align: left !important;
    }
    .txt-block {
        padding-top: 120px;
    }
    img.img-project {
        position: relative;
        top: 10%;
        width: 150%;
        margin: 0;
    }
    .img-block {
        height: 100vh;
    }
    a.link-project {
        margin: 88px 0 0 0;
        padding: 12px 0 12px 0;
        width: 200px;
        font-size: 16px;
        font-weight: 500;
    }
    .separator {
        margin-top: 52px;
        margin-bottom: 60px;
        width: 105px;
    }
    .tile-logofolio {
        height: 100vh;
        background: #1d3145;
        display: block;
    }
    .logofolio-title {
        font-size: 110px;
        font-weight: bold;
        line-height: 0.35;
        text-align: center;
        margin: auto;
        position: relative;
        top: 40%;
    }
    a.logofolio-link {
        margin: auto;
        position: relative;
        top: 50%;
        height: auto;
        padding: 16px;
        border-radius: 4px;
        border: solid 1px #f7f7f7;
        background: #1d3145;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.31;
        color: #fff;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    img.img-project {;
        width: 100%;
    }
}