@font-face {
    font-family: Orkney;
    src: url('../font/Orkney-Regular.otf');
}

@font-face {
    font-family: Butler;
    src: url('../font/Butler-Regular.otf');
}

@font-face {
    font-family: Butler-bold;
    src: url('../font/Butler-Bold.otf');
}

@font-face {
    font-family: Orkney-medium;
    src: url('../font/Orkney-Medium.otf');
}

html {
    background-color: #fff;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 320px) {
    .hidden {
        display: none;
    }
    /*** BURGER ***/
    nav {
        position: absolute;
        height: 80px;
        width: 100%;
        margin-top: 95px;
        opacity: 0;
        left: 0;
        text-align: center;
    }
    .navLink {
        z-index: 10;
        display: block;
        position: relative;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-family: Orkney-medium, sans-serif;
        /*
        height: calc(33% - 30px);
        */
        font-size: 30px;
        padding-bottom: 80px;
        padding-top: 80px;
        font-weight: 500;
        line-height: 180px;
        text-align: center;
        text-decoration: none;
        background: #1b232c;
        color: #fff;
        border-bottom: solid 1px #9fa1a2;
    }
    .container {
        max-width: 1250px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0;
    }
    .burger {
        position: fixed;
        z-index: 800;
        right: 25px;
        margin-top: 20px;
        width: 19px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }
    .burger span {
        display: block;
        position: absolute;
        height: 1.8px;
        width: 100%;
        background: #f0f1f2;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    .circle {
        height: 42px;
        width: 42px;
        position: fixed;
        top: 14px;
        z-index: 800;
        right: 13px;
        /* float: left; */
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .burger span:nth-child(1) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .burger span:nth-child(2) {
        top: 15px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .burger span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .burger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
        left: 2px;
    }

    .burger.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .burger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 22px;
        left: 2px;
    }
    .header {
        height: 100%;
        width: 100%;
        background-size: cover;
        position: fixed;
        z-index: 700;
        left: -100%;
        overflow: hidden;
    }
    .headerPin {
        height: 0;
        width: 100%;
        position: relative;
        padding-bottom: 60px;
    }
    .openmenu {
        position: fixed;
        overflow: visible;
        opacity: 1;
        margin: 0;
        height: 100%;
    }
    .first, .second, .third, .openmenu {
        left: -100%;
    }
    .first {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s;
    }
    .second {
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s;
    }
    .slide {
        left: 0;
    }
    /* TOP */
    #tile-blurb {
        background-image:  linear-gradient(191deg, #23435F, rgba(18, 21, 28, 0.84), rgba(18, 19, 24, 0.83));
        color: #fff;
        height: 439px;
    }
    h1 {
        font-family: Butler-bold, sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    #introduction {
        opacity: 0.9;
        font-family: Orkney;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    #top-header {
        margin-left: 6.25%;
        margin-right: 6.25%;
        padding-bottom: 50px;
    }

    /* TILES */
    .tile-project {
        background: #fff;
    }
    .tile-project > *:not(img) {
        margin-right: 5%;
        margin-left: 5%;
        color: #1163a4;
    }
    img.img-project {
        margin: auto;
        margin-right: 0;
        height: auto;
        width: 100%;
        margin-bottom: 25px;
        display: block;
    }
    div.img-block {
        margin: 0
    }
    div.img-franceinfo {
        background-color: #FFC52B;
    }
    div.img-francebleu {
        background-color: #0075D5;
    }
    a.link-project {
        display:block;
        margin: 24px auto 0;
        height: 33px;
        border-radius: 4px;
        border: solid 1px #1263a4;
        background-color: #fff;
        text-decoration: none;
        width: 33%;
        font-family: Orkney;
        font-size: 13px;
        line-height: 2.62;
        text-align: center;
        color: #1263a4;
    }
    .empty{
        height: 30px;
    }
    h2 {
        font-family: Butler-bold;
        font-size: 30px;
        text-align: left;
        color: #1163a4;
        margin: 0;
    }
    div.text-project, .variable-data {
        font-family: Orkney;
        font-size: 15px;
        line-height: 1.27;
        text-align: left;
        color: #8ea3b3;
    }
    .column {
        float: left;
        width: 33.33%;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column p {
        text-align: center;
    }
    .column-title {
        text-transform: uppercase;
        margin: 30px 0 0;
        font-family: Orkney;
        font-size: 11px;
        line-height: 1.91;
        text-align: left;
        color: #1263a4;
    }
    .variable-data {
        margin: 0;
        font-family: Orkney;
        font-size: 11px;
        line-height: 1.73;
        text-align: left;
        color: #8ea3b3;
    }
    /* TOOLS */
    .separator {
        width: 55px;
        height: 3px;
        background-color: #1263a4;
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .separator-white {
        width: 55px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 19px;
    }

    /* LOGOFOLIO */
    #tile-logofolio {
        height: 299px;
        background-color: #1d3042;
    }
    img.img-logo {
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 770px) {
/*    .burger {
        display: none;
    }
    .header {
        overflow: visible;
    }
    .navLink {
        font-size: 20px;
        display: inline-block;
        margin-top: -5px;
        border-top: none;
        text-decoration: none;
        padding: 0 20px;
        font-weight: bold;
    }
    .headerPin {
        padding-bottom: 210px;
    }
    nav {
        background: rgba(0,0,0,0.5);
        height: 60px;
        bottom: 0;
        line-height: 70px;
        opacity: 1 !important;
    }*/
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}