<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <title>
            {% block title %}
                Sophie Hariri - Contact
            {% endblock %}
        </title>
    </head>

    <body>
        <header>
            <h1>Contact</h1>
        </header>

        <main>
            <div class="a-propos">
                A propos...
            </div>
            <div class="contact">
                Me contacter.
            </div>
        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
