<div class="header">
    <header>
        <div class="logo">
        </div>

        <div class="circle"></div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav id="nav" style="opacity: 1;">
            <div class="container">
                    <a href="/" class="navLink">Accueil</a>
                    <a href="/logofolio" class="navLink">Logofolio</a>
            </div>
        </nav>
    </header>
</div>
<div class="headerPin"></div>