<div class="header">
    <header>
        <div class="logo">
        </div>

        <div class="burger">
            <img src="assets/img/menu.png">
        </div>
        <nav id="nav" style="opacity: 1;">
            <div class="container">
                    <a href="/" class="navLink">Accueil</a>
                    <a href="/logofolio" class="navLink">Logofolio</a>
                    <a href="/a-propos" class="navLink">A propos</a>
                    <a href="/a-propos#contact" class="navLink">Contact</a>
            </div>
        </nav>
    </header>
</div>
<div class="headerPin"></div>