<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/home.css" />
        <title>
        {% block title %}
            Sophie Hariri - UI/UX Designer
        {% endblock %}
        </title>
    </head>

    <body>
        <div id="tile-blurb">
            {% include 'header.html.twig' %}
            <div id="top-header">
                <h1>Bonjour,<br /> je suis Sophie Hariri, UI/UX Designer</h1>
                <div id="introduction">
                    Forte de mes deux ans d’experiences en alternance à Radio France en tant qu’UI et UX designer,
                    j’ai parcouru les différents aspects du métier que ce soit dans le pôle mobile, des applications ou
                    bien dans celui du web. Curieuse et motivée, je suis à la recherche de nouvelles experiences et
                    challenges pour de nouveaux horizons !
                </div>
            </div>
        </div>

        <main>
            {% include 'tile.html.twig' with {
                'title': 'France Bleu',
                'slug': 'francebleu',
                'description': 'France Bleu est la radio de proximité des gens grâce aux réseaux des 44 locales sur toute la France métropolitaine et la Corse.
                Tous les mois elle regroupe environ 13 millions de visiteurs sur le site (chiffre de janvier 2018).',
                'role': 'UI design',
                'agency': 'Radio France',
                'year': '2017'
            } %}

            {% include 'tile.html.twig' with {
                'title': 'Emotion',
                'slug': 'emotion',
                'description': 'Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.',
                'role': 'UI/UX design',
                'agency': 'École Ipssi',
                'year': '2017'
            } %}

            {% include 'tile.html.twig' with {
                'title': 'France Info',
                'slug': 'franceinfo',
                'description': 'France Info est la première radio d’information de France. En août 2016 elle devient une offre globale
                grâce à l’unification entre Radio France et France Télévision. Le site franceinfo s\'est classé 4ème site
                d\'info généraliste ...',
                'role': 'UI design',
                'agency': 'Radio France',
                'year': '2017'
            } %}
            <div class="tile-logofolio">
                <h1 class="logofolio-title">Logofolio</h1>
                <a href="/logofolio" class="link-project logofolio-link">
                    Voir logofolio
                </a>
            </div>
            {% include 'tile.html.twig' with {
                'title': 'Patisserie Ciel',
                'slug': 'patisserie',
                'description': 'Examen de  fin d’année, en une semaine il nous a été demandé de réaménager la pâtisserie «Pâtisserie Ciel»
                située 3 rue Monge dans le 5ème arrondissement. La réalisation de la communication, logo, carte de ...',
                'role': 'Design Global',
                'agency': 'École Bleu',
                'year': '2014'
            } %}

            {% include 'tile.html.twig' with {
                'title': 'Appartement Burq',
                'slug': 'burq',
                'description': 'Ce projet est un concours organisé par l’école pour un jeune couple. Le but étant d’aménager un appartement
                de 60m2 situé rue Burq dans le 18ème arrondissement de Paris. Une rencontre avec les clients a eu lieu afin ...',
                'role': 'Architecte',
                'agency': 'École Bleu',
                'year': '2014'
            } %}

        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
