<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <title>
            {% block title %}
                Sophie Hariri - Logos
            {% endblock %}
        </title>
    </head>

    <body>
        {% include 'header.html.twig' %}

        <main>
            <ul>
                <li>
                    Logo 1
                </li>
                <li>
                    Logo 2
                </li>
            </ul>
        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
