<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/logofolio.css" />
        <title>
            {% block title %}
                Sophie Hariri - Logos
            {% endblock %}
        </title>
    </head>

    <body>
        <div id="tile-logofolio">
            {% include 'header.html.twig' %}
            <div id="top-header">
                <h1>Logofolio</h1>
                <div class="separator-white"></div>
                <div id="introduction">
                    Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                    in advertising, my strength lies in website and app design.
                    <br />
                    Designer at Ueno. With a background in advertising, my strength lies in website and app
                    designadvertising, my strength lies in website and app design.site and app designadvertising, my strength lies in website and app design.
                </div>
            </div>
        </div>
        <main>
            <div>
                <img class="img-logo img-left"
                     src="../assets/img/logofolio/logofolio_img_chinco_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_chinco_2x.jpg">
                <img class="img-logo img-right"
                     src="../assets/img/logofolio/logofolio_img_emotion_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_emotion_2x.jpg">
            </div>
            <div>
                <img class="img-logo img-left"
                                  src="../assets/img/logofolio/logofolio_img_loup_1x.jpg"
                                  srcset="../assets/img/logofolio/logofolio_img_loup_2x.jpg">
                <img class="img-logo img-right"
                     src="../assets/img/logofolio/logofolio_img_mynews_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_mynews_2x.jpg">
            </div>
            <div>
                <img class="img-logo img-left"
                     src="../assets/img/logofolio/logofolio_img_acme_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_acme_2x.jpg">
                <img class="img-logo img-right"
                     src="../assets/img/logofolio/logofolio_img_lezard-malin_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_lezard-malin_2x.jpg">
            </div>
            <div>
                <img class="img-logo img-left"
                     src="../assets/img/logofolio/logofolio_img_logo-perso_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_logo-perso_2x.jpg">
                <img class="img-logo img-right"
                     src="../assets/img/logofolio/logofolio_img_pitie-salpetriere_1x.jpg"
                     srcset="../assets/img/logofolio/logofolio_img_pitie-salpetriere_2x.jpg">
            </div>

        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
