<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <title>
            {% block title %}
                Sophie Hariri - Logos
            {% endblock %}
        </title>
    </head>

    <body>
        <div id="tile-logofolio">
            {% include 'header.html.twig' %}
            <div id="top-header">
                <h1>Logofolio</h1>
                <div class="separator-white"></div>
                <div id="introduction">
                    Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                    in advertising, my strength lies in website and app design.
                </div>
            </div>
        </div>
        <main>
            <img class="img-logo" src="http://fakeimg.pl/425x319/">
            <img class="img-logo" src="http://fakeimg.pl/425x319/4d4343">
            <img class="img-logo" src="http://fakeimg.pl/425x319/">
            <img class="img-logo" src="http://fakeimg.pl/425x319/4d4343">
            <img class="img-logo" src="http://fakeimg.pl/425x319/">
            <img class="img-logo" src="http://fakeimg.pl/425x319/4d4343">
        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
